<div class="page-header">
<h1><span class="label label-primary">Create Leave</span></h1>
</div>

<div class="sub-header">
	<h2>Leave Entitlement</h2>
</div>
<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Type</td>
					<td>Unit</td>
					<td>Entitlement</td>
					<td>Pending</td>
					<td>Taken</td>
					<td>Balance</td>
					<td>Expiration</td>
				</tr>
			</thead>
			<tbody>
				{{#each model.leaveEntitlements as |lvEn| }}
				<tr>
					<td>{{lvEn.type}}</td>
					<td>{{lvEn.unit}}</td>
					<td>{{lvEn.entitlement}}</td>
					<td>{{lvEn.pending}}</td>
					<td>{{lvEn.taken}}</td>
					<td>{{lvEn.balance}}</td>
					<td>{{lvEn.expirationDate}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

</div>

<div class="sub-header">
	<h2>Submit Leave Request</h2>
</div>
<div class="well">
	<div class="row">
		<div class="col-lg-2"></div>
		{{#unless isSubmit}}
			<div class="col-lg-7">
				<div class="alert alert-danger" role="alert">Error! {{errorMsg}}</div>
			</div>
		{{/unless}}
	</div>

	<form>
		<div class="row form-group">
			<div class="col-lg-1"></div>
			<div class="col-lg-3">
				<label class="control-label " >Staff ID</label>
				<div class="input-group" >
					{{input type="text" class="form-control" value=model.user.staffId disabled="true"}}
				</div>
			</div>
			<div class="col-lg-3">
				<label class="control-label " >Staff Name</label>
				<div class="input-group" >
					{{input type="text" class="form-control" value=model.user.staffName disabled="true"}}
				</div>
			</div>
			<div class="col-lg-3">
				<label class="control-label " >Title</label>
				<div class="input-group" >
					{{input type="text" class="form-control" value=model.user.title disabled="true"}}
				</div>
			</div>
		</div>



		<div class="row form-group">
			<div class="col-lg-1"></div>
			<div class="col-lg-4">
				<label class="control-label mandatory" >Start Date</label>
				<div class="input-group date" data-provide="datepicker" >
					<!-- <input type="text" class="form-control"  value={{startDate}}> -->
					{{input type="text" class="form-control"  value=startDate required="true"}}
					<span class="input-group-addon" >
					   <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					</span>
					<select class="form-control" id="startHalf" onchange={{action "startHalfChange"}}>
						<option value="AM">AM</option>
						<option value="PM">PM</option>
					</select>
				</div>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-4">
				<label class="control-label mandatory" >End Date</label>
				<div class="input-group date" data-provide="datepicker" >
					<!-- <input type="text" class="form-control" data-provide="datepicker" value={{endDate}}> -->
					{{input type="text" class="form-control"  value=endDate}}
					<span class="input-group-addon" >
					   <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					</span>
					<select class="form-control" id="endHalf" onchange={{action "endHalfChange"}}>
						<option value="AM">AM</option>
						<option value="PM">PM</option>
					</select>

				</div>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-lg-1"></div>
			<div class="col-lg-2">
				<label class="control-label" >Leave Days</label>
				<div class="input-group" >
					{{input type="text" class="form-control" value=leaveDays disabled="true"}}
					<span class="input-group-addon">HWD</span>
				</div>
			</div>

			<div class="col-lg-2">
				<label class="control-label mandatory" >Leave Type</label>
				<select class="form-control" id="leaveType" onchange={{action "leaveTypeChange"}}>
					<option value="Annual">Annual</option>
					<option value="Sick">Sick</option>
				</select>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-4">
				<label class="control-label" >comments</label>
				<!-- <textarea class="form-control" rows="3" value={{comments}}></textarea> -->
				{{textarea class="form-control" rows="3" value=comments}}
			</div>
		</div>
		<br>
		<div class="row form-group">
			<div class="col-lg-4"></div>
			<div class="col-lg-3">
				<button type="submit" class="btn btn-primary btn-lg btn-block" {{action 'submit'}} disabled={{submitDisabled}}>Submit</button>			
			</div>
		</div>

	</form>
</div>

{{alert-modal  reqMsg=submitMsg requestResult=requestResult}}

{{outlet}}
