
<div class="page-header">
<h1><span class="label label-primary">{{header}}</span></h1>

<div class="btn-group right" role="group">
	{{#if isSubmit}}
		<button type="submit" class="btn btn-primary right" {{action "confirmReq" "submit"}} disabled={{isAction}}>Submit </button>
	{{/if}}
	
	{{#if isCancel}}
		<button type="submit" class="btn btn-default right" {{action "confirmReq" "cancel"}} disabled={{isAction}}>Cancel </button>
	{{/if}}

	{{#if isApprove}}
		<button type="submit" class="btn btn-success" {{action "confirmReq" "approve" }} disabled={{isAction}}>Approve </button>
		<button type="submit" class="btn btn-danger" {{action "confirmReq" "reject" }} disabled={{isAction}}>Reject </button>
	{{/if}}
</div>

<div class="row">
	<div class="col-md-3">
		<select class="form-control" id="sortBy" onchange={{action "sortByChg"}}>
			<option value="leaveId">Leave ID</option>
			<option value="requestorName">Requestor Name</option>
			<option value="status">Status</option>
			<option value="startDate">Start Date</option>
			<option value="endDate">End Date</option>
			<option value="leaveType">Leave Type</option>
			<option value="createTime">Create Time</option>
		</select>
	</div>
	<div class="col-md-3">
		<select class="form-control" id="sortOrder" onchange={{action "sortOrderChg"}}>
			<option value=1 >Ascending</option>
			<option value=0 >Descending</option>
		</select>
	</div>
	<div class="col-md-2">
		<button type="submit" class="btn btn-primary" {{action "sort" }} disabled={{isSort}}>Sort </button>
	</div>
</div>


</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Leave ID</th>
				<th>Requestor Name</th>
				<th>Status</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Leave Type</th>
				<th>Create Time</th>
			</tr>
		</thead>
		<tbody>
			{{#each model as |leave| }}
				<tr class="detail" id={{leave.leaveId}} ondblclick={{action 'leaveDetail' leave.leaveId}} onclick={{action "multi" leave.leaveId}}>
					<td>{{leave.leaveId}}</td>
					<td>{{leave.requestorName}}</td>
					<td>{{leave.status}}</td>
					<td>{{leave.startDate}}</td>
					<td>{{leave.endDate}}</td>
					<td>{{leave.leaveType}}</td>
					<td>{{leave.createTime}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>

<hr class="divider">

<div class="row">
	<div class="col-md-6 col-md-offset-4">
		<nav>
		  <ul class="pagination">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    {{#each pages as |page| }}
		    	<li id={{page}} onclick={{action "pageChg" page}}><a class="list-page">{{page}}</a></li>
		    {{/each}}
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
</div>

{{confirm-modal model=model confirmMsg=confirmMsg confirmRequest=(action 'confirm')}}
