
	<div class="page-header">
	<h1>Create Leave</h1>
	</div>

	<div class="sub-header">
		<h2>Leave Entitlement</h2>
	</div>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>Type</td>
						<td>Unit</td>
						<td>Entitlement</td>
						<td>Pending</td>
						<td>Taken</td>
						<td>Balance</td>
						<td>Expiration</td>
					</tr>
				</thead>
				<tbody>
					{{#each model.leaveEntitlements as |lvEn| }}
					<tr>
						<td>{{lvEn.type}}</td>
						<td>{{lvEn.unit}}</td>
						<td>{{lvEn.entitlement}}</td>
						<td>{{lvEn.pending}}</td>
						<td>{{lvEn.taken}}</td>
						<td>{{lvEn.balance}}</td>
						<td>{{lvEn.expirationDate}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>

	</div>

	<div class="sub-header">
		<h2>Submit Leave Request</h2>
	</div>
	
		<div class="row">
			{{#unless isSubmit}}
				<div class="col-lg-7 col-lg-offset-1">
					<div class="alert alert-danger" role="alert">Error! {{errorMsg}}</div>
				</div>
			{{/unless}}

			<div class="col-lg-4 right">
				<div class="btn-group right" role="group">
					<button type="submit" class="btn btn-primary btn-lg " {{action 'submit' "submit"}} disabled={{submitDisabled}}>Submit</button>			
					<button type="submit" class="btn btn-default btn-lg " {{action 'submit' "save"}} disabled={{submitDisabled}}>Save</button>			
				</div>
			</div>
		</div>

	<hr class="divider">

	<div class="row">

		<div class="col-md-2 col-sm-4 create-label">
			<ul class="create-label-group">
			  <li class="create-label-item">Requestor ID</li>
			  <li class="create-label-item">Requestor Name</li>
			  <li class="create-label-item">Requestor Title</li>
			  <li class="create-label-item">Approver Name</li>
			  <li class="create-label-item">Comments</li>

			</ul>
		</div>

		<div class="col-md-3 col-sm-6 create-data">
			<ul class="create-data-group">
				<div class="input-group create-data-input" >
					{{input type="text" class="form-control" value=currentUser.username disabled="true"}}
				</div>
				<div class="input-group create-data-input" >
					{{input type="text" class="form-control" value=currentUser.staffName disabled="true"}}
				</div>
				<div class="input-group create-data-input" >
					{{input type="text" class="form-control" value=currentUser.title disabled="true"}}
				</div>
				<div class="input-group create-data-input " >
					{{input type="text" class="form-control" value=currentUser.approverName disabled="true"}}
				</div>
				<div class="input-group create-data-input" >
					{{textarea class="form-control min-text" rows="3"  value=comments}}
				</div>

			</ul>
		</div>
		

		<div class="col-md-2 col-sm-4 create-label">
			<ul class="create-label-group">
			  <li class="create-label-item">Leave Type</li>
			  <li class="create-label-item">Is Core Leave</li>
			  <li class="create-label-item">Start Date</li>
			  <li class="create-label-item">End Date</li>
			  <li class="create-label-item">Leave Days</li>
			</ul>
		</div>

		<div class="col-md-4 col-sm-6 create-data">
			<ul class="create-data-group">
				<div class="input-group create-data-input" >
					<select class="form-control" id="leaveType" onchange={{action "leaveTypeChange"}}>
						<option value="Annual">Annual</option>
						<option value="Sick">Sick</option>
					</select>
				</div>


				<div class="input-group create-data-input" >
					<select class="form-control" id="isCoreLeave" onchange={{action "coreLeaveChange"}}>
						<option value=0>NO</option>
						<option value=1>YES</option>
					</select>
				</div>

				<div class="input-group date create-data-input" data-provide="datepicker" >
					{{input type="text" class="form-control"  value=startDate required="true"}}
					<span class="input-group-addon" >
					   <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					</span>
					<select class="form-control" id="startHalf" onchange={{action "startHalfChange"}}>
						<option value="AM">AM</option>
						<option value="PM">PM</option>
					</select>
				</div>

				<div class="input-group date create-data-input" data-provide="datepicker" >
					{{input type="text" class="form-control"  value=endDate}}
					<span class="input-group-addon" >
					   <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					</span>
					<select class="form-control" id="endHalf" onchange={{action "endHalfChange"}}>
						<option value="AM">AM</option>
						<option value="PM">PM</option>
					</select>

				</div>

				<div class="input-group create-data-input" >
					{{input type="text" class="form-control" value=leaveDays disabled="true"}}
					<span class="input-group-addon">HWD</span>
				</div>

			</ul>
		</div>


	</div>




{{outlet}}
