
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand navbar-font-color"  >
        {{#if isLeave}}
          System LEAVE
        {{/if}}
        {{#if isTravel}}
          System TRAVEL
        {{/if}}
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" >
        <p class="navbar-text navbar-right navbar-font-color">Logged in as {{user}}&nbsp;&nbsp;  </p>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>


<div class="container-fluid">
  
  <div class="row content-box">
    <div class="col-xs-2 col-md-2 side-nav well ">

          <ul class="nav nav-pills nav-stacked">

            <li role="presentation">
              {{#link-to 'sysInfo' class="nav-link"}}
              <span class="glyphicon glyphicon-info-sign " aria-hidden="true"></span>
              <b>&nbsp;System Information</b>
              <span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>{{/link-to}}
            </li>

            <li role="presentation" >
              <a onclick={{action "toggleExpand"}}  id="dashboard" class="nav-link">
                <span class="glyphicon glyphicon-dashboard icon-bar " aria-hidden="true"></span>
                <b>&nbsp;Dashboard</b>
                <span class="glyphicon glyphicon-plus right" aria-hidden="true" id="dashboard-chevron"></span>
              </a>

              {{#if dashboardExpand}}
                <ul class="nav nav-pills nav-stacked">
                  {{#if isLeave}}
                    <li>{{#link-to 'dashboard.leave' class="nav-link nav-link-inner"}}
                          <span class="glyphicon glyphicon-unchecked icon-bar " aria-hidden="true"></span><b>&nbsp;Leave</b>
                          <span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
                          {{/link-to}}
                    </li>
                  {{/if}}

                  {{#if isTravel}}
                    <li>{{#link-to 'dashboard.leave' class="nav-link nav-link-inner"}}
                          <span class="glyphicon glyphicon-unchecked icon-bar " aria-hidden="true"></span><b>&nbsp;Travel</b>
                          <span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
                          {{/link-to}}
                    </li>
                  {{/if}}
                </ul>
              {{/if}}

            </li>




            {{#if isLeave}}
              <li role="presentation">
                <a onclick={{action "toggleExpand"}} id="myLeave" class="nav-link">
                  <span class="glyphicon glyphicon-calendar " aria-hidden="true"></span>
                    <b>&nbsp;My Leave</b>
                  <span class="glyphicon glyphicon-plus right" aria-hidden="true" id="myLeave-chevron"></span>
                </a>

                {{#if myLeaveExpand}}
                <ul class="nav nav-pills nav-stacked">
                    <li>{{#link-to 'leave.create' class="nav-link nav-link-inner"}}
                          <span class="glyphicon glyphicon-unchecked icon-bar " aria-hidden="true"></span><b>&nbsp;Create</b>
                          <span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
                          {{/link-to}}
                    </li>
                </ul>
                {{/if}}

              </li>
            {{/if}}

            {{#if isTravel}}
              <li role="presentation">
                <a onclick={{action "toggleExpand"}} id="myTravel" class="nav-link">
                  <span class="glyphicon glyphicon-plane " aria-hidden="true"></span>
                    <b>&nbsp;My Travel</b>
                  <span class="glyphicon glyphicon-plus right" aria-hidden="true" id="myTravel-chevron"></span>
                </a>

                {{#if myTravelExpand}}
                <ul class="nav nav-pills nav-stacked">
                    <li>{{#link-to 'leave.create' class="nav-link nav-link-inner"}}
                          <span class="glyphicon glyphicon-unchecked icon-bar " aria-hidden="true"></span><b>&nbsp;Create Travel Request</b>
                          <span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>
                          {{/link-to}}
                    </li>
                </ul>
                {{/if}}

              </li>
            {{/if}}




            <li role="presentation">
              <a {{action 'switch'}} class="nav-link"><span class="glyphicon glyphicon-retweet " aria-hidden="true"></span>
              <b>&nbsp;System Switch</b>
              <span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span></a>
            </li>

            <li role="presentation">
              {{#link-to 'report' class="nav-link"}}
              <span class="glyphicon glyphicon-list-alt " aria-hidden="true"></span>
              <b>&nbsp;Report</b>
              <span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>{{/link-to}}
            </li>


            <li role="presentation">
              {{#link-to 'support' class="nav-link"}}
              <span class="glyphicon glyphicon-knight " aria-hidden="true"></span>
              <b>&nbsp;Support</b>
              <span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span>{{/link-to}}
            </li>

            <li role="presentation">
              <a {{action 'logout'}} class="nav-link"><span class="glyphicon glyphicon-off " aria-hidden="true"></span>
              <b>&nbsp;Log Out</b>
              <span class="glyphicon glyphicon-chevron-right right" aria-hidden="true"></span></a>
            </li>

        </ul>

    </div>

    <div class="col-xs-2 col-md-10 col-xs-offset-2 col-md-offset-2 ">
    <div class="well">
    {{yield}}
      
    </div>
          
    </div>
  </div>

</div>



