
	<div class="page-header">
		<h1>Leave Detail
			<div class="btn-group right" role="group">
				{{#if isSubmit}}
					<button type="submit" class="btn btn-primary right" {{action "confirmReq" "submit"}} >Submit </button>
				{{/if}}
				
				{{#if isCancel}}
					<button type="submit" class="btn btn-default right" {{action "confirmReq" "cancel"}} >Cancel </button>
					{{/if}}

				{{#if isApprove}}
					<button type="submit" class="btn btn-success" {{action "confirmReq" "approve" }} >Approve </button>
					<button type="submit" class="btn btn-danger" {{action "confirmReq" "reject" }} >Reject </button>
				{{/if}}
			</div>
			</h1>
	
	</div>


	{{flow-chat}}

	<div class="sub-header">
		<h2>User Info</h2>	
	</div>

	<div class="row">

		<div class="col-md-2 col-sm-4 deatil-label">
			<ul class="detail-label-group">
			  <li class="detail-label-item">Requestor ID</li>
			  <li class="detail-label-item">Requestor Name</li>
			</ul>
		</div>

		<div class="col-md-3 col-sm-6 detail-data">
			<ul class="list-group">
			  <li class="list-group-item">{{model.leave.requestorId}}</li>
			  <li class="list-group-item">{{model.leave.requestorName}}</li>
			</ul>
		</div>
		
		<div class="col-md-1"></div>

		<div class="col-md-2 col-sm-4 deatil-label">
			<ul class="detail-label-group">
			  <li class="detail-label-item">Approver ID</li>
			  <li class="detail-label-item">Approver Name</li>
			</ul>
		</div>

		<div class="col-md-3 col-sm-6 detail-data">
			<ul class="list-group">
			  <li class="list-group-item">{{model.leave.approverId}}</li>
			  <li class="list-group-item">{{model.leave.approverName}}</li>
			</ul>
		</div>


	</div>


	<div class="sub-header">
		<h2>Leave Info</h2>
	</div>

	<div class="row">
		<div class="col-md-2 col-sm-4 deatil-label">
			<ul class="detail-label-group">
			  <li class="detail-label-item">Leave ID</li>
			  <li class="detail-label-item">Leave Type</li>
			  <li class="detail-label-item">Status</li>
			  <li class="detail-label-item">Core Leave</li>
			</ul>
		</div>

		<div class="col-md-3 col-sm-6 detail-data">
			<ul class="list-group">
			  <li class="list-group-item">{{model.leave.leaveId}}</li>
			  <li class="list-group-item">{{model.leave.leaveType}}</li>
			  <li class="list-group-item">{{model.leave.status}}</li>
			  <li class="list-group-item">{{model.leave.isCoreLeave}}</li>
			</ul>
		</div>

		<div class="col-md-1"></div>

		<div class="col-md-2 col-sm-4 deatil-label">
			<ul class="detail-label-group">
			  <li class="detail-label-item">Start Date</li>
			  <li class="detail-label-item">End Date</li>
			  <li class="detail-label-item">Leave Days</li>
			  <li class="detail-label-item">Create Time</li>
			</ul>
		</div>

		<div class="col-md-3 col-sm-6 detail-data">
			<ul class="list-group">
			  <li class="list-group-item">{{model.leave.startDate}} {{model.leave.startHalf}}</li>
			  <li class="list-group-item">{{model.leave.endDate}} {{model.leave.endHalf}}</li>
			  <li class="list-group-item">{{model.leave.leaveDays}} HMD</li>
			  <li class="list-group-item">{{model.leave.createTime}}</li>
			</ul>
		</div>
	</div>
{{#if isComments}}
	<div class="sub-header">
		<h2>Comments</h2>
	</div>

	{{#if model.leave.comments}}
	<div class="row">
		
		<div class="col-md-2 col-sm-2 deatil-label">
			<ul class="detail-label-group">
			  <li class="detail-label-item">Create </li>
			</ul>
		</div>
		<div class="col-md-8 col-sm-8 detail-data">
			<ul class="list-group">
			  	<li class="list-group-item">
				  		{{model.leave.comments}}

				</li>
			</ul>
		</div>
	</div>
	{{/if}}

	{{#if model.leave.approveComments}}
	<div class="row">

		<div class="col-md-2 col-sm-2 deatil-label">
			<ul class="detail-label-group">
			  <li class="detail-label-item">Approve </li>
			</ul>
		</div>
		<div class="col-md-8 col-sm-8 detail-data">
			<ul class="list-group">
			  	<li class="list-group-item">
				  		{{model.leave.approveComments}}


				</li>
			</ul>
		</div>
	</div>
	{{/if}}

	{{#if model.leave.rejectComments}}
	<div class="row">

		<div class="col-md-2 col-sm-2 deatil-label">
			<ul class="detail-label-group">
			  <li class="detail-label-item">Reject </li>
			</ul>
		</div>
		<div class="col-md-8 col-sm-8 detail-data">
			<ul class="list-group">
			  	<li class="list-group-item">
				  		{{model.leave.rejectComments}}


				</li>
			</ul>
		</div>
		</div>
	{{/if}}

	{{#if model.leave.cancelComments}}
	<div class="row">
		<div class="col-md-2 col-sm-2 deatil-label">
			<ul class="detail-label-group">
			  <li class="detail-label-item">Cancel </li>
			</ul>
		</div>
		<div class="col-md-8 col-sm-8 detail-data">
			<ul class="list-group">
			  	<li class="list-group-item">
				  		{{model.leave.cancelComments}}


				</li>
			</ul>
		</div>
		</div>
	{{/if}}
	
{{/if}}

{{confirm-modal model=model confirmMsg=confirmMsg confirmRequest=(action 'confirm')}}